spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jwt_security
    username: springstudent
    password: springstudent
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
application:
  security:
    jwt:
      secret-key: "94192e373c6b75d42491e5341554a490e36fd5c45ad41e8ddd4c1f00b4af7652"